!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Admin
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true
    = hotwire_livereload_tags if Rails.env.development?
  %body
    .container
      .d-flex.justify-content-between
        %h1 Hello from Admin
        .d-flex.justify-content-between
          %a{ href: "http://en.application.local:3000#{request.env['PATH_INFO']}" } en
          %a{ href: "http://fr.application.local:3000#{request.env['PATH_INFO']}", style: 'margin-left:15px' } fr
      .flash#flash
        = render 'layouts/flash'
      = yield
